* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #022135;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Dropdown styles */
.dropdown .dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #022135;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    /* Position the dropdown below the parent */
    left: 0;
}

.dropdown-content li {
    margin: 0;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #022135;
}

/* Show the dropdown content when hovering over the dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}



header img {
    height: 90px;
}

.image-section2 {
    width: 100%;
    margin: 0 auto;
    /* Centers the section horizontally */
    padding: 20px;
    text-align: center;
    background-color: white;
    color: white;
    /* Center-aligns the content within the section */
}

.image-section2 img {
    width: 50%;
    /* Makes the image take up the full width of the container */
    height: auto;
    /* Maintains the aspect ratio of the image */
    display: block;
    margin: 0 auto;
    /* Ensures the image is centered within the section */
    border-radius: 10px;
    /* Optional: Adds rounded corners to the image */
}


.banner {
    background-color: #022135;
    color: white;
    padding: 15px 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
}

.h2 {
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
}

.text-block {
    text-align: center;
    color: #022135;
    font-size: 20px;
    font-weight: bold;
    max-width: 250px;
    line-height: 1.4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #022135;
}

/* Navigation menu styles */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-right: 20px;
    position: relative;
    /* Needed for dropdown positioning */
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
}

nav {
    display: flex;
    /* Use flexbox to align children inline */
    justify-content: flex-end;
    /* Spreads the content evenly with maximum space between */
    align-items: center;
    /* Centers items vertically */
    padding: 0 120px;
    /* Adds padding to left and right for spacing */
    background-color: #022135;
    /* Ensures background color consistency */
    width: 100%
}

nav .hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 20px;
}

nav .hamburger-menu span {
    height: 3px;
    width: 25px;
    background: white;
    margin: 4px 0;
    transition: 0.4s;
}

.hamburger-menu {
    width: 40px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul {
    list-style: none;
    display: flex;
    /* Aligns the list items in a row */
    margin-right: 50px;
    padding: 0;
    /* margin: 0; */
    /* Removes default margin */
    /* justify-content: center; */
}

nav ul.show {
    max-height: 300px;
    /* Adjust this value based on the number of menu items */
}

nav a {
    color: white;
    /* Sets text color to white */
    text-decoration: none;
    /* Removes underline from links */
    padding: 10px 20px;
    display: block;
}

nav ul li {
    margin-right: 20px;
    /* Space between the links */
}

/* nav ul li:last-child {
    margin-right: 0; */
/* Removes margin from the last item to avoid extra spacing */
/* } */

nav button {
    background-color: #022135;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    flex-shrink: 0;
}

footer {
    background-color: #022135;
    padding: 30px 50px;
    text-align: center;
}

footer form {
    margin-top: 20px;
}

input,
select,
button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #555;
}

input,
select {
    width: 200px;
}

.first-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    /* Adjust background color as needed */
}

.fourth-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    color: white;
    width: 80%;
    margin: 0 auto;
    /* Adjust background color as needed */
}

.fourth-section .text-block {
    color: #022135;
}

.image-container {
    display: flex;
    /* Use flexbox to facilitate alignment */
    justify-content: center;
    /* Aligns the child elements to the right */
    align-items: center;
    /* Centers the image vertically */
    height: 100%;
    /* Adjust the height as necessary */
    width: 50%;
    /* Adjust the width as necessary */
}

.image-container img {
    width: 50%;
    /* Sets the image width to 50% of its container */
    height: auto;
    /* Keeps the aspect ratio of the image */
}

.content-container {
    width: 50%;
    /* Adjust text width as needed */
    padding: 20px;
}

.content-container h2,
h3 {
    color: #022135;
    /* Adjust text color as needed */
    margin-bottom: 10px;
}



.content-container p {
    color: #022135;
    /* Adjust paragraph color as needed */
    line-height: 1.5;
}

button {
    background-color: #022135;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.product-ranges {
    text-align: center;
    color: white;
    background-color: #022135;
    /* Dark background for the section */
    padding: 20px;
}

.product-ranges h2 {
    margin-bottom: 10px;
}

.product-ranges p {
    margin-bottom: 20px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product {
    position: relative;
    width: 300px;
    /* Fixed width for each product */
    height: 200px;
    /* Fixed height for each product */
    overflow: hidden;
    border-radius: 10px;
    /* Rounded corners */
}

.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the images cover the area */
}

.product-label {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 16px;
}

.product-range-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
    /* Allows wrapping to the next line on smaller screens */
    gap: 30px;
    /* Adds space between each product block */
    background-color: white;
}

.product-item {
    text-align: center;
    width: calc(20% - 30px);
    /* Adjusts width based on container and gap */
}

.product-item img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    /* Space between image and text */
}

.product-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.product-item p {
    font-size: 16px;
    color: #666;
    margin-bottom: 8px;
    line-height: 1.4;
}


.info-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    /* Assuming a dark theme from the screenshot */
    color: white;
}

.info-block {
    width: 80%;
    /* Approximately half the parent width, adjusting for padding/margin */
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.info-block2 {
    width: 60%;
    /* Approximately half the parent width, adjusting for padding/margin */
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.info-block h2 {
    color: #022135;
    margin-bottom: 10px;
}

.info-block2 h2 {
    color: #022135;
    margin-bottom: 10px;
}

.info-block p {
    color: #022135;
    margin-bottom: 20px;
}

.info-block2 p {
    color: #022135;
    margin-bottom: 20px;
}

.info-block img {
    width: 80%;
    /* Adjust based on actual image size and design preference */
    margin-bottom: 20px;
}

.info-block2 img {
    width: 100%;
    /* Adjust based on actual image size and design preference */
    margin-bottom: 5px;
}

.btn {
    background-color: 022135;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Hover effect for buttons */
.btn:hover {
    background-color: black;
}

.contact-form {
    color: #022135;
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border: 4px solid white;
    /* Adds a light grey border */
    border-radius: 8px;
    /* Optional: Adds rounded corners */
    background-color: white;
    /* Optional: Sets a white background for contrast */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Aligns items to the left for a tidy appearance */
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
    /* Provides sufficient space between the checkbox and the label */
    cursor: pointer;
    /* Indicates that the element is clickable */
}

.checkbox-group label {
    display: flex;
    align-items: center;
    /* Vertically aligns the checkbox with the text */
    margin-bottom: 8px;
    /* Spacing between each checkbox item */
}

.checkbox-group input[type="checkbox"]+label {
    cursor: pointer;
    /* Indicates that the label is also clickable */
}

button {
    padding: 10px 20px;
    background-color: #022135;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: black;
}

#fullscreen-video {
    position: fixed;
    /* or absolute, depending on other content */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* This will cover the full viewport without stretching */
    z-index: -1;
    /* Ensures the video stays in the background */
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background: url('path_to_fallback_image.jpg') no-repeat;
    background-size: cover;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.full-height-image {
    position: relative;
    height: calc(100vh - 60px);
    /* Adjust 60px to the actual height of your nav */
    width: 100%;
    overflow: hidden;
}

.full-height-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image covers the div without distorting */
    display: block;
    /* Removes bottom margin/gap */
}

@media (max-width: 1024px) {
    .product-item {
        width: calc(33.33% - 20px);
        /* Adjust width for tablets */
    }

    .nav-links {
        display: none;
        /* Hide the navigation links */
        flex-direction: column;
        width: 100%;
        background-color: #022135;
    }

    .nav-links.show {
        display: flex;
        /* Show the navigation links when the hamburger menu is clicked */
    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }

    header {
        padding: 10px 20px;
        /* Reduced padding on mobile */
        flex-direction: row;
        align-items: flex-center;
    }

    header img {
        height: 90px;
        margin-bottom: 10px;
    }

    nav {
        flex-direction: row;
        width: 100%;
    }

    nav .hamburger-menu {
        display: flex;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #022135;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 10px 20px;
        text-align: center;
        /* Center text in mobile view */
    }

    nav button {
        display: none;
        /* Hide the button on mobile screens */
    }

    .first-section,
    .info-section {
        flex-direction: column;
    }

    .image-container,
    .content-container,
    .info-block {
        width: 100%;
        padding: 10px;
    }

    .image-container img {
        width: 100%;
    }

    .content-container,
    .info-block {
        text-align: center;
    }

    .fourth-section {
        flex-direction: column;
        align-items: center;
        /* Center items in column layout */
        justify-content: center;
        /* Center items vertically */
    }

    .fourth-section>* {
        width: 100%;
        /* Ensure each container takes full width in column layout */
        text-align: center;
        /* Center text within each container */
        margin-bottom: 20px;
        /* Adds space between each item */
    }

    .fourth-section>*:last-child {
        margin-bottom: 0;
        /* Remove bottom margin from the last item */
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        /* Hide the navigation links */
        flex-direction: column;
        width: 100%;
        background-color: #022135;
    }

    .nav-links.show {
        display: flex;
        /* Show the navigation links when the hamburger menu is clicked */
    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }

    header {
        padding: 10px 20px;
        /* Reduced padding on mobile */
        flex-direction: row;
        align-items: flex-center;
    }

    .product-item {
        width: calc(50% - 20px);
        /* Adjust width for mobile */
    }

    header img {
        height: 90px;
        margin-bottom: 10px;
    }

    nav {
        flex-direction: row;
        width: 100%;
    }

    nav .hamburger-menu {
        display: flex;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #022135;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 10px 20px;
        text-align: center;
        /* Center text in mobile view */
    }

    nav button {
        display: none;
        /* Hide the button on mobile screens */
    }

    .first-section,
    .info-section {
        flex-direction: column;
    }

    .image-container,
    .content-container,
    .info-block {
        width: 100%;
        padding: 10px;
    }

    .image-container img {
        width: 100%;
    }

    .content-container,
    .info-block {
        text-align: center;
    }

    .fourth-section {
        flex-direction: column;
        align-items: center;
        /* Center items in column layout */
        justify-content: center;
        /* Center items vertically */
    }

    .fourth-section>* {
        width: 100%;
        /* Ensure each container takes full width in column layout */
        text-align: center;
        /* Center text within each container */
        margin-bottom: 20px;
        /* Adds space between each item */
    }

    .fourth-section>*:last-child {
        margin-bottom: 0;
        /* Remove bottom margin from the last item */
    }
}